@tailwind base;
@tailwind components;
@tailwind utilities;


@layer  utilities{

.customP{

   @apply text-custom-p text-customP dark:text-gray-400 
}
.customxs{

   @apply text-custom-xs text-customP 
}
.customh{

   @apply text-custom-h text-Cusblack font-customP dark:text-gray-100 
}
.customh3{

   @apply text-custom-h3 text-Cusblack font-customP dark:text-gray-100 
}




}



.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}